  #map {
  width: 100%;
  height: 100vh;
  z-index: 0;
   }
   .leaflet-center {
    left: 50%;
    transform: translate(-50%, 0%);
}

@media only screen and (max-width: 800px) {
	.leaflet-center .img_i{
		width: 5vh;
	}

}
.img_i{
	width: 7vh;
}