.card{
    margin: 10% 25% 25% 25%;
    box-shadow: 0px 10px 23px 9px rgba(207,205,207,1);
    border-radius: 25px;
}

@media (max-width: 700px) {
  .card {
    margin: 10% 5% 25% 5%;
    box-shadow: 0px 10px 23px 9px rgba(207,205,207,1);
    border-radius: 25px;
  }
}

.card-body{
    padding: 5%;
}

.card .titulo{
    padding: 3%;
}

.form-control{
    background: #f1f1f1;
}

.col .card{
    margin: 0;
    border-radius: 5px;
}

.dropdown-item img{
    width: 50px;
}

.presentacion{
    margin: 2% 25% 2% 25%;
}
.clasificacion{
align-content: center;
}
label{ color:#757575;}
input[type = "radio"]{ display:none;}
label:hover{color:orange;}
label:hover ~ label{color:orange;}
.clasificacion{
      direction: rtl;
      unicode-bidi: bidi-override;
      text-align: left;
  }
  input[type = "radio"]:checked ~ label{color:orange;}
  .star-act{
    color: orange;
  }
  .opiniones{
    margin-top: 1rem;
  }
  .img-profile{
    max-width: 30%;
  }